<nav class="main-nav">
  <div class="nav-logo">The Viral Company</div>
  <div class="nav-links">
    <a routerLink="/" routerLinkActive="active" class="nav-link" [routerLinkActiveOptions]="{ exact: true }">Home</a>
    <a routerLink="/developer" routerLinkActive="active" class="nav-link">Meet Our Developer</a>
    <a routerLink="/letslearnscratch" routerLinkActive="active" class="nav-link">Let's Learn Scratch</a>
    <!-- <a href="mailto:info@theviralcompany.com" class="nav-link">Contact Us</a> -->
  </div>
</nav>


